@namespace Inspector.UI
@inherits Panel

<root class="inspector-object-picker" @onclick="@SelectFirstObject">
	<div class="inspector-object-picker-dot"></div>
	<div class="inspector-object-picker-name">@SelectedName</div>
	<i>keyboard_arrow_down</i>
</root>
